.blog {
  @include adaptiveValue("padding-top", 150, 70);
  @include adaptiveValue("padding-bottom", 80, 70);

  &__title {
    @include adaptiveValue("margin-bottom", 30, 18)
  }

  &__subtitle {
    @include adaptiveValue("margin-bottom", 92, 48);

    font-family: MontserratAlternates;
    @include adaptiveValue("font-size", 36, 18);
    font-weight: 700;
    letter-spacing: toRem(1.8);
    line-height: toRem(36);
  }

  &__list {
    grid-template-columns: repeat(3, 1fr);
    row-gap: toRem(46);
    @include adaptiveValue("margin-bottom", 60, 50);

    @media (max-width:$mobile) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: em(580)) {
      grid-template-columns: auto;
    }
  }

  .nav-links {
    display: flex;
    justify-content: center;
    gap: toRem(10);
  }

  .page-numbers {
    display: flex;
    justify-content: center;
    align-items: center;
    width: toRem(40);
    height: toRem(40);

    border: 1px solid transparent;

    font-size: toRem(18);
    font-weight: 700;
    color: #fff;

    transition: all 0.3s;

    &:hover {
      border: 1px solid #fff;
    }
  }

  .page-numbers.current {
    background-color: #fff;
    color: #000;
  }

}