.callback {
  @include adaptiveValue("padding-top", 74, 67);
  padding-bottom: toRem(70);
  background: url('@img/back-main.png') top left no-repeat;

  /* .callback__container */
  &__container {
    display: grid;
    grid-template-columns: auto 48%;
    gap: toRem(20);

    @media (max-width:$tablet) {
      row-gap: toRem(80);
      grid-template-columns: auto;
    }
  }

  /* .callback__content */
  &__content {
    @media (min-width:$tablet) {
      padding-top: toRem(20);
    }
  }

  &__left {
    justify-content: center;

    @media (min-width:$mobile) and (max-width:$tablet) {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

    @media (max-width: em(790)) {
      grid-template-columns: 1fr auto;
    }
  }

  /* .callback__time */
  &__time {
    @include adaptiveValue("margin-bottom", 30, 20);


    @include adaptiveValue("font-size", 24, 18);
    line-height: 34px;
    letter-spacing: toRem(1.2);

    @media (max-width:$tablet) {
      justify-self: center;
    }

    @media (max-width: em(790)) {
      justify-self: start;
    }

    @media (max-width:$mobile) {
      letter-spacing: toRem(.9);
    }
  }

  /* .callback__tel */
  &__tel {
    display: block;
    @include adaptiveValue("margin-bottom", 40, 30);

    @include adaptiveValue("font-size", 46, 34);
    line-height: toRem(28);
    letter-spacing: toRem(2.3);
    font-weight: 900;

    @media (max-width:$tablet) {
      justify-self: center;
    }

    @media (max-width: em(790)) {
      justify-self: start;
    }

    @media (max-width:$mobile) {
      letter-spacing: toRem(1.7);
    }
  }

  /* .callback__address */
  &__address {
    @include adaptiveValue("margin-bottom", 34, 38);

    @include adaptiveValue("font-size", 24, 16);
    letter-spacing: toRem(1.2);
    line-height: toRem(34);

    @media (max-width:$tablet) {
      justify-self: center;
      grid-column: span 2;
    }

    @media (min-width:$tablet) {
      max-width: toRem(318);
    }

    @media (max-width: em(790)) {
      justify-self: start;
    }

    @media (max-width:$mobile) {
      letter-spacing: toRem(.8);
      line-height: toRem(26);
    }
  }

  /* .callback__social */
  &__social {
    display: flex;

    @media (min-width:$tablet) {
      justify-content: space-between;
      @include adaptiveValue("padding-right", 100, 50, 1920);
    }
  }

  /* .callback__social-block */
  &__social-block {
    display: flex;
    flex-direction: column;
    @include adaptiveValue("gap", 23, 13);
  }

  /* .callback__image */
  &__image {
    max-width: 100%;

    @media (max-width:$tablet) {
      margin: 0 auto;
    }

    @media (min-width:$mobile) and (max-width:$tablet) {
      transform: translate(-60px, 0);
    }

    @media (max-width: em(550)) {
      width: 70%;
    }
  }

  /* .callback__send */
  &__send {
    @media (max-width:$tablet) {
      grid-row-start: 1;
    }
  }

  /* .callback__form */
  &__form {
    @media (max-width:$tablet) {}
  }

  &__title {
    margin-bottom: toRem(20);
  }
}

.form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: toRem(12);
  column-gap: toRem(20);

  /* .form__line */
  &__line {
    display: grid;
    gap: toRem(18);
    grid-column: span 2;

    label {
      margin-left: toRem(6);

      font-size: toRem(18);
      line-height: toRem(28);
      letter-spacing: toRem(.9);
    }

    /* .form__line_name */
    &_name {
      @media (min-width: em(1200)) {
        grid-column: span 1;

        // Переписать в стили
        .form-popup & {
          grid-column: span 2;
        }
      }
    }

    /* .form__line_tel */
    &_tel {
      @media (min-width: em(1200)) {
        grid-column: span 1;

        // Переписать в стили
        .form-popup & {
          grid-column: span 2;
        }
      }
    }

    /* .form__line_mail */
    &_mail {}

    /* .form__line_text */
    &_text {}

    &_policy {
      margin-top: toRem(20);
    }
  }

  /* .form__button */
  &__button {
    margin-top: toRem(20);

    position: relative;
    background-color: $bodyColor;

    &::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      border-radius: $borderRadius;
      background: url('@img/mask/pay.svg') right 0 no-repeat;

      transition: all 0.5s ease-in-out;
    }

    &:hover {
      &::before {
        transform: scale(-1, 1);
      }
    }
  }
}

.input {
  background-color: transparent;
  height: toRem(70);
  padding: 0 toRem(30);

  font-size: toRem(18);
  line-height: toRem(28);
  letter-spacing: toRem(.9);
  color: #fff;

  border: 1px solid #A3A3A3;

  &::placeholder {
    color: #fff;
    font-weight: 300;
  }
}

textarea {
  min-height: toRem(140);
  padding: toRem(20);

  border: 1px solid #A3A3A3;
  background-color: transparent;
  color: #fff !important;

  &::placeholder {
    color: #fff;
    font-weight: 300;
  }
}