.first {
  @include adaptiveValue("padding-top", 90, 75);
  @include adaptiveValue("padding-bottom", 90, 137);

  background-color: $bodyColor;

  /* .first__container */
  &__container {
    display: flex;
    align-items: center;
    row-gap: toRem(50);

    @media (max-width:em(1024)) {
      flex-wrap: wrap;
    }
  }

  /* .first__content */
  &__content {
    position: relative;
    background: $bodyColor;
    z-index: 100;

    @media (min-width:em(1025)) {
      flex: 0 0 56%;
    }

    @media (min-width: em(1025)) and (max-width: em(1330)) {
      max-width: toRem(680);
    }
  }



  /* .first__title */
  &__title {
    @include adaptiveValue("margin-bottom", 50, 30);

    @media (min-width:em(1199)) {
      padding-right: toRem(20);
    }
  }

  /* .first__text-block */
  &__text-block {
    height: toRem(455);
    direction: rtl;
    display: flex;

    @media (max-width: em(1200)) {
      height: toRem(355);
    }
  }

  /* .first__text */
  &__text {
    padding-left: toRem(30);
    padding-right: toRem(20);

    // background: linear-gradient(180.76deg, rgb(255, 255, 255), rgba(255, 255, 255, 0));
    // -webkit-background-clip: text;
    // -webkit-text-fill-color: transparent;
    // background-clip: text;
    // text-fill-color: transparent;

    p {
      @include adaptiveValue("font-size", 20, 16);
      font-weight: 300;
      line-height: 32px;
      letter-spacing: 1px;
      text-align: left;

      &:not(:last-child) {
        margin-bottom: toRem(33);
      }

      span {
        font-weight: 900;
      }

      @media (max-width:$mobile) {
        line-height: 26px;
      }
    }
  }

  /* .first__media */
  &__media {
    @media (min-width:em(1025)) {
      flex: 1 1 auto;
    }

    @media (min-width:em(1565)) {
      transform: translate(43px, 0px);
    }
  }

  /* .first__slider */
  &__slider {
    position: relative;
    overflow: visible !important;
  }

  /* .first__slide */
  &__slide {
    background-color: $bodyColor;

    img {
      max-width: 100%;
      mix-blend-mode: lighten;

      @media (max-width:em(1024)) {
        max-width: 40%;
        transform: translate(70%, 0px);
      }

      @media (max-width: em(680)) {
        max-width: 80%;
        transform: translate(10%, 0px);
      }
    }
  }
}