.objects {
  // background-color: red;
}








.object {
  display: grid;
  // grid-template-columns: 1fr 1fr 1fr;
  // grid-template-rows: 1fr 1ft;

  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 1fr 1fr;
  row-gap: toRem(25);
  column-gap: toRem(20);

  /* .object__block */
  &__block {

    img {
      max-width: 100%;
    }

    /* .object__block_1 */
    &_1 {
      position: relative;
      grid-column: span 4;
      grid-row: span 2;

      img {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        object-fit: cover;
      }
    }

    /* .object__block_2 */
    &_2 {
      grid-column: span 4;
      grid-row: span 1;
    }

    /* .object__block_3 */
    &_3 {
      grid-row-start: 2;
      grid-column: 5 / 9;
    }

    /* .object__block_4 */
    &_4 {
      grid-column: 9 / 13;
      grid-row: 1 / 3;
    }
  }

  /* .object__body */
  &__body {
    position: relative;
    z-index: 20;
  }

  /* .object__header */
  &__header {}

  /* .object__title */
  &__title {}

  /* .object__desc */
  &__desc {}

  /* .object__footer */
  &__footer {}

  /* .object__text */
  &__text {}

  /* .object__button */
  &__button {}
}

.button {}