.report {
  @include adaptiveValue("padding-top", 85, 76);
  @include adaptiveValue("padding-bottom", 60, 78);

  background: url('@img/back-main.png') left center no-repeat;

  /* .report__container */
  &__container {
    display: grid;
    grid-template-columns: 1fr 57%;
    column-gap: toRem(20);

    @media (max-width:$tablet) {
      grid-template-columns: auto;
    }
  }

  /* .report__media */
  &__media {
    align-self: center;

    @media (max-width:$tablet) {
      justify-self: center;
      overflow: hidden;
      grid-row-start: 2;
    }

    @include adaptiveValue("margin-left", 300, 0, 3, 991, 360);
    @include adaptiveValue("margin-right", 300, 0, 3, 991, 360);

    img {
      max-width: 100%;


      @media (max-width:$tablet) {
        /* Убираем погрешность расположения из-за тени на картинке */
        transform: translate(8.5%, 0);
      }
    }
  }

  /* .report__content */
  &__content {
    @media (max-width:$tablet) {
      margin-bottom: toRem(45);
    }
  }

  /* .report__title */
  &__title {
    @include adaptiveValue("margin-bottom", 66, 41);
  }

  /* .report__subtitle */
  &__subtitle {
    @include adaptiveValue("margin-bottom", 50, 38);
  }

  /* .report__items */
  &__items {
    display: grid;
    @include adaptiveValue("gap", 55, 25);
  }

  /* .report__item */
  &__item {
    display: flex;
    @include adaptiveValue("gap", 24, 20);
  }

  &__button {
    justify-self: center;

    position: relative;
    background-color: $bodyColor;

    &::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      border-radius: $borderRadius;
      background: url('@img/mask/intro-b.svg') center left no-repeat;

      transition: all 0.5s ease-in-out;
    }

    &:hover {
      &::before {
        transform: scale(-1, 1);
      }
    }

  }

  // Переписать стили margin-top пришел из button
  &__bottom {
    display: flex;
    align-items: center;
    justify-self: center;
    gap: toRem(20);
    flex-wrap: wrap;

    @media (min-width:$tablet) {
      @include adaptiveValue("margin-top", 89, 0);
    }
  }

  // Переписать стили
  &__link {
    display: none !important;
  }
}