.reviews-map {
  position: relative;
  padding-bottom: toRem(146);

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(15, 17, 26, 0.5);
  }

  /* .section-map__container */
  &__container {
    padding-top: toRem(101);
    position: relative;
    z-index: 100;
  }


  &__image {
    position: relative;
    display: inline-flex;

    img {
      position: absolute;
      top: 6px;
      left: 6px;
    }
  }
}


.reviews-map {

  /* .reviews-map__body */
  &__body {
    display: grid;
    grid-template-columns: auto 32.357%;
    // grid-template-columns: auto auto;
  }

  /* .reviews-map__media */
  &__media {
    position: relative;
  }

  /* .reviews-map__person */
  &__person {
    position: absolute;

    /* .reviews-map__person_1 */
    &_1 {
      left: -11.8%;
      bottom: -68.1%;
    }

    &_2 {
      left: 3.3%;
      top: 43.6%;
    }

    &_3 {
      right: 43.2%;
      top: 16%;
    }

    &_4 {}

    &_5 {}

    &_6 {}

    &_7 {}
  }

  /* .reviews-map__image */
  &__image {}

  /* .reviews-map__info */
  &__info {}

  /* .reviews-map__box */
  &__box {}

  /* .reviews-map__head */
  &__head {}

  /* .reviews-map__wrap-head */
  &__wrap-head {}

  /* .reviews-map__name */
  &__name {}

  /* .reviews-map__data */
  &__data {}

  /* .reviews-map__rating */
  &__rating {}

  /* .reviews-map__review */
  &__review {}
}









.map {
  position: absolute;
  // position: relative;
  @include adaptiveValue("height", 860, 900);
  width: 100%;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(15, 17, 26, 0.5);
    z-index: 20;
  }
}

[class*="copyright__link"] {
  opacity: 0;
  transition: opacity 0.2s ease-in;
}

[class*="gototech"] {
  display: none !important;
}

[class*="ground-pane"] {
  // filter: invert(25%) grayscale(2) sepia(60%);
  // filter: invert(80%);
  // display: none;
  // opacity: .5;
}