.reviews {
  @include adaptiveValue("padding-top", 83, 70);
  @include adaptiveValue("padding-bottom", 147, 109);

  /* .reviews__title */
  &__title {
    @include adaptiveValue("margin-bottom", 79, 38);

    @media (min-width:em(1100)) {
      margin-right: toRem(-60);
    }
  }

  /* .reviews__slider */
  &__slider {
    overflow: visible !important;
    position: relative;
  }

  /* .reviews__wrapper */
  &__wrapper {}

  /* .reviews__slide */
  &__body {
    @include adaptiveValue("padding-top", 78, 30);
    @include adaptiveValue("padding-right", 90, 30);
    @include adaptiveValue("padding-bottom", 80, 26);
    @include adaptiveValue("padding-left", 115, 27);


    border: 1px solid rgba($color: #fff, $alpha: .16);

    // width: fit-content !important;
    // max-width: 1045px;

  }

  /* .reviews__header */
  &__header {
    display: flex;
    align-items: center;
    @include adaptiveValue("column-gap", 30, 13);

    @include adaptiveValue("margin-bottom", 41, 24);
  }

  /* .reviews__photo */
  &__photo {
    border-radius: 50%;
    @include adaptiveValue("width", 193, 70);
    @include adaptiveValue("height", 193, 70);
  }

  /* .reviews__data */
  &__data {
    display: flex;
    justify-content: space-between;
    width: 100%;
    // @include adaptiveValue("gap", 203, 0);
    gap: toRem(20);

    @media (max-width:$mobileSmall) {
      flex-direction: column;
    }
  }

  &__person {
    display: grid;
    gap: toRem(8)
  }

  /* .reviews__name */
  &__name {
    @include adaptiveValue("font-size", 24, 18);
    letter-spacing: 1.2px;
    line-height: 28px;

    @media (max-width:$mobile) {
      letter-spacing: .9px;
    }
  }

  /* .reviews__direction */
  &__direction {
    @include adaptiveValue("font-size", 18, 14);
    line-height: 28px;
    letter-spacing: .9px;
    font-weight: 300;

    @media (max-width:$mobile) {
      letter-spacing: .7px;
    }
  }

  /* .reviews__ratng */
  &__rating {
    display: flex;
  }

  /* .reviews__content */
  &__content {
    height: toRem(147);
    @include adaptiveValue("padding-right", 24, 3);
  }

  /* .reviews__text */
  &__text {
    padding-right: toRem(10);

    // background: linear-gradient(180.00deg, rgb(255, 255, 255), rgba(255, 255, 255, 0));
    // -webkit-background-clip:
    //   text;
    // -webkit-text-fill-color:
    //   transparent;
    // background-clip:
    //   text;
    // text-fill-color:
    //   transparent;

    font-weight: 300;
  }

  /* .reviews__swiper-pagination */
  &__swiper-pagination {
    @media (max-width:$tablet) {
      bottom: toRem(-60);
    }

    @media (max-width:$mobile) {}

    @media (max-width: em(440)) {
      bottom: toRem(-50);

    }
  }
}