.section-map {
  position: relative;
  height: toRem(632);

  &::before {
    content: '';
    position: absolute;

    background: url('@img/map/map-2.jpg') 0 0 no-repeat;
    width: 100%;
    height: 100%;
  }

  /* .section-map__container */
  &__container {
    // display: flex;
    // justify-content: center;
    // align-items: center;
    // position: relative;
    // z-index: 50;
  }



  &__icon {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 20;
  }
}

.map2 {
  // position: absolute;
  // height: toRem(632);

  width: 100%;
  // top: 0;
  // left: 0;
  // z-index: 100;

  // &::before{
  //   content:'';
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   width: 100%;
  //   height: 100%;
  //   z-index: 20;
  //   pointer-events: none;
  //   background: rgba(15, 17, 26, 0.3);
  // }
}