.support {
  @include adaptiveValue("padding-top", 110, 65);
  padding-bottom: toRem(20);
  overflow: hidden;
  background: url('@img/back-main.png') no-repeat;

  /* .support__container */
  &__container {
    display: grid;
    grid-template-columns: auto 45.7%;
    align-items: center;
    gap: toRem(20);

    @media (max-width: em(1090)) {
      grid-template-columns: auto;
      justify-content: center;
    }
  }

  /* .support__media */
  &__media {
    position: relative;

    @media (max-width: em(1090)) {
      grid-row-start: 2;
    }
  }

  /* .support__social-blok */
  &__social-block {
    position: absolute;
    left: 0;
    top: 0;

    @media (max-width: em(1200)) {
      top: toRem(-40);
    }

    @media (max-width:$mobileSmall) {
      top: toRem(-22);
    }
  }

  &__social-row {

    &.hhv {
      gap: toRem(60);

      p {
        font-weight: 700;

        &::after {
          opacity: 1;
        }
      }
    }

    p {
      position: relative;
      display: block;
      @include adaptiveValue("font-size", 18, 12);
      font-weight: 300;

      &::after {
        content: '';
        position: absolute;
        width: toRem(25);
        height: toRem(1);
        background: #fff;
        top: 50%;
        transform: translate(-50%, 0px);
        left: -30px;
        opacity: 0;
        transition: opacity 0.3s;
      }
    }
  }

  /* .support__social-link */
  &__social-link {}

  /* .support__image */
  &__image {
    max-width: 100%;

    @media (min-width:em(1366)) {
      margin-left: toRem(40);
    }

    @media (min-width:em(1200)) {
      transform: translate(0, -25px);
    }

    @media (max-width: em(430)) {
      margin-left: 13px;
    }
  }

  /* .support__content */
  &__content {
    display: grid;
    @include adaptiveValue("gap", 190, 47);

    @include adaptiveValue("padding-bottom", 142, 27);
  }

  /* .support__top */
  &__top {}

  /* .support__title */
  &__title {
    @include adaptiveValue("margin-bottom", 60, 43);
  }

  /* .support__warranty */
  &__warranty {
    display: flex;
    align-items: center;
    @include adaptiveValue("gap", 17, 25);
    @include adaptiveValue("margin-bottom", 60, 22);

    @include adaptiveValue("font-size", 24, 20);
    line-height: 30px;
    font-weight: 600;
    letter-spacing: 1.2px;
    color: #16C198;

    @media (max-width:$mobile) {
      letter-spacing: 1px;
    }

    svg {
      @include adaptiveValue("width", 32, 24);
      @include adaptiveValue("height", 36, 27);
    }
  }

  /* .support__bottom */
  &__bottom {
    p {
      font-size: toRem(18);
      letter-spacing: .9px;
      font-weight: 300;
      line-height: 28px;
      @include adaptiveValue("margin-bottom", 27, 9);

      @media (max-width:$mobile) {
        font-size: toRem(15);
        letter-spacing: .45px;
      }
    }
  }

  /* .support__links */
  &__links {
    display: grid;
    gap: 8px;
  }

  /* .support__link */
  &__link {
    display: block;
    @include adaptiveValue("padding-left", 37, 32);
    background: url('@img/icons/download.svg') left center no-repeat;

    font-size: toRem(18);
    letter-spacing: .9px;
    line-height: 28px;

    @media (max-width:$mobile) {
      font-size: toRem(15);
      letter-spacing: .45px;
    }

    &_under {
      text-decoration: underline;
      padding-left: toRem(0);
      background-image: none;

      &:not(:last-child) {
        margin-bottom: toRem(15);
      }

      @media (max-width:$mobile) {
        font-size: toRem(16);
        letter-spacing: 0.8px;
        line-height: 28px;
      }
    }
  }
}