//<BUTTONS (a.btn+tab)>
// Сніппет (HTML): btn

.button {
	display: inline-flex;

	justify-content: center;
	align-items: center;
	height: toRem(60);

	padding: toRem(20) toRem(30);

	background: linear-gradient(131.02deg, rgb(255, 153, 0) 0.402%, rgb(255, 101, 68) 99.331%);

	border-radius: $borderRadius;

	font-size: toRem(16);
	font-weight: 900;
	text-shadow: $shadowText;
	letter-spacing: .03em;
	color: #fff;
}

.btn-mobile {
	width: toRem(60) !important;
	height: toRem(60) !important;

	display: none;

	@media (max-width:$mobile) {
		display: inline-flex !important;
	}
}