.footer {
  margin-bottom: toRem(500);
  // height: toRem(260);
  // background-color: red;
  // margin-top: -193px;

  &__wrapper {
    position: relative;
    display: grid;
    grid-template-columns: 34% auto;
    // padding-left: toRem(725);
    pointer-events: none;
  }


  &__body {
    padding-left: toRem(20);
    padding-top: toRem(53);
    pointer-events: all;
  }

  &__logo {
    margin-bottom: toRem(43);
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: toRem(45);
  }

  &__item {

    &_links {
      display: grid;
      gap: toRem(13);
      padding-top: toRem(38);
      // padding-right: toRem(20);
    }

    &_tel {
      display: flex;
      margin-left: toRem(-10);
      padding-top: toRem(23);
      gap: toRem(15);
    }
  }

  &__link {
    font-size: toRem(18);
    color: $mainColor;
    letter-spacing: .03em;

    @media (max-width:$mobile) {
      font-size: toRem(16);
    }


    &:hover {
      text-decoration: underline;
    }

  }

  &__tel {
    color: $mainColor;
    letter-spacing: .03em;
    text-align: right;

    a {
      @include adaptiveValue("font-size", 20, 18);
      font-weight: 900;
    }
  }

  &__time {
    display: block;

    font-size: toRem(14);
    font-weight: 400;
  }

  &__developer {
    display: flex;
    align-items: center;
    gap: toRem(14);

    // align-self: end;
    span {
      font-size: toRem(10);
      color: $mainColor;
      letter-spacing: .05em;
    }
  }


  &__copyright {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: toRem(7);
    width: 100%;

    @include adaptiveValue("font-size", 18, 14);
    letter-spacing: .03em;
    color: $mainColor;
  }

}