//====================================================================================================
.header {
	z-index: 600;
	width: 100%;
	top: 0;
	left: 0;
	background: $bodyColor;

	&__wrapper {
		position: fixed;
		display: flex;
		align-items: center;

		top: 0;
		left: 0;
		width: 100%;
		// padding: toRem(5) 0;
		@include adaptiveValue("height", 120, 60);
		transition: all 0.4s;
		z-index: 30;

		._header-scroll & {
			transform: translateY(-100%);
			// background-color: rgba($color: #191A1F, $alpha: .9);
			@include adaptiveValue("height", 100, 50);

		}

		.header.header--light._header-scroll & {
			background-color: rgba(0, 0, 0, 0.9);
		}

		._header-scroll._header-show & {
			transform: none;
		}
	}

	&__container {
		display: flex;
		align-items: center;
		width: 100%;
		justify-content: space-between;
	}

	&__logo {}

	&__menu-burger {
		display: flex;
		align-items: center;
		gap: toRem(11);

		span {
			font-size: toRem(14);
			letter-spacing: .03em;
		}
	}

	&__left {
		display: flex;
		align-items: center;
		@include adaptiveValue("gap", 105, 60);
	}


}

.menu {
	padding: 0 toRem(10); // отступы безопасности

	// .menu__body

	&__body {


		position: fixed;
		width: 100%;
		height: 100%;
		// height: toRem(500);
		top: 0;
		left: 0;

		overflow: auto;

		transform: scale(.7);
		visibility: hidden;
		opacity: 0;
		background-color: #22242A;
		text-align: center;
		transition: all 0.3s;

		.menu-open & {
			transition: opacity 0.3s ease-in-out, transform .3s ease-in-out;
			visibility: visible;
			transform: scale(1);
			z-index: 900;
			opacity: 1;
		}

	}

	// .menu__list

	&__list {
		display: flex;
		align-items: center;
		@include adaptiveValue("column-gap", 80, 15);
		row-gap: toRem(30);

		@media (max-width:$tablet) {
			flex-direction: column;
			align-items: flex-start;

			padding: toRem(20);
		}
	}

	&__link {
		font-size: toRem(16);
		text-transform: uppercase;
		white-space: pre;


		@media (any-hover: hover) {
			&:hover {
				text-decoration: underline;
			}
		}
	}
}

//====================================================================================================

//Burger

.icon-menu {
	display: none;
	
	@media (max-width: $tablet) {
		display: block;
		position: relative;
		width: toRem(17);
		height: toRem(15);
		z-index: 990;

		@media (any-hover: none) {
			cursor: default;
		}

		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: toRem(2);
			background-color: rgba(255, 255, 255, 0.97);
		}

		&::before {
			top: 0;
		}

		&::after {
			bottom: 0;
		}

		span {
			top: calc(50% - toRem(1));
		}

		.menu-open & {
			span {
				width: 0;
			}

			&::before,
			&::after {
				background-color: $mainColor;
			}

			&::before {
				top: calc(46% - toRem(1));
				transform: rotate(-45deg);
			}

			&::after {
				bottom: calc(48% - toRem(1));
				transform: rotate(45deg);
			}
		}
	}
}

.icon-menu_pc {

	display: block;
	position: relative;
	width: toRem(17);
	height: toRem(15);
	z-index: 990;

	@media (any-hover: none) {
		cursor: default;
	}

	span,
	&::before,
	&::after {
		content: "";
		transition: all 0.3s ease 0s;
		right: 0;
		position: absolute;
		width: 100%;
		height: toRem(2);
		background-color: rgba(255, 255, 255, 0.97);
		// border-radius: toRem(2);
	}

	&::before {
		top: 0;
	}

	&::after {
		bottom: 0;
	}

	span {
		top: calc(50% - toRem(1));
	}

	.menu-open & {
		span {
			width: 0;
		}

		&::before,
		&::after {
			background-color: $mainColor;
		}

		&::before {
			top: calc(46% - toRem(1));
			transform: rotate(-45deg);
		}

		&::after {
			bottom: calc(48% - toRem(1));
			transform: rotate(45deg);
		}
	}

}